/* место для вашего кода */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 293px;

}
.menu-header {
  display: flex;
  margin-left: 50px;
  margin-top: 133px;
  margin-bottom: 138px;
  margin-right: 36.52px;
}
.address {
  width: 240px;
  height: 98px;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 100px;
  margin-right: 50px;
}
.logo {
  height: 124.05px;
  width: 94.84px;
  margin-top: 92px;
  margin-bottom: 96px;
  margin-right: 184px;
}

.cover {
  height: 757px;
  width: 1100px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-transform: uppercase;
  padding-left: 50px;
  padding-top: 165px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 180px;
}
.description {
  margin-top: 106px;
  height: 51px;
  display: flex;
}
.button {
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border-color: #fff;
}

h1 {
  font-size: 100px;
  font-weight: 700px;
  font-style: bold;
  line-height: 114.99999999999999%;
}

.text-cover {
  display: flex;
  flex-direction: column;
  height: 358px;
  width: 1000px;
  letter-spacing: 30px;
}
.line {
  width: 100%;
}
.left {
  text-align: left;
  width: 286px;

}
.center {
  text-align: center;

}
.right {
  text-align: right;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-style: bold;
  width: 121px;
  height: 47px;
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 27px;
}

.lost-main {
  width: 1052px;
  height: 723px;
}

.lots {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 30px;
}
.lots a {
  display: flex;
}
.lots p {
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;

}

.card { 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  width: 334px;
  height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/card-lot-02.jpg);
}
.picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/card-lot-03.jpg);
}
.film {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),url(../images/card-lot-01.jpg);
}
.few-biggest {
  margin-bottom: 0;
  margin-left: 40px;
  font-size: 20px;
}
.lost-main { 
  margin-bottom: 300px; /*для просмотра отдельно элемента, удалить позже*/
}