.menu__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 33px;
  list-style-type: circle;
}

.link {
  font-style: Raleway;
  text-underline-offset: 3px;
  line-height: 100%;
}
.link_active {
  text-decoration: none;
}
.logo__header {
  padding-right: 10px;
}
.main {
  max-width: 1100px;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  
}

.address a { 
  text-underline-offset: 4px; 
}
header img {
  width: 133px;
  margin-left: 20px;
  padding-left: 0;
}
li {
  margin-left: 16px;
  padding-left: 5px;
  font-size: 18px;
}
.address {
  align-items: center;
  width: 240px;
  margin-top: 94px;
  margin-bottom: 110px;
  margin-left: 179px;
  font-size: 18px;
  font-style: normal;
}

.logo {
  width: 94.84px;
  margin-top: 92px;
  margin-right: 184px;
  margin-bottom: 96px;
}
.cover {
  position: relative;
  max-width: 1100px;
  min-height: 757px;
  margin-bottom: 180px;
  padding-top: 165px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 50px;
  color: #fff;
  text-transform: uppercase;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.description { 
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 105px;
  font-size: 22px;
  text-align: justify;
}
.text-last {
  display: flex;
  align-items: center;
  max-width: 637px;
}
.button {
  z-index: 1;
  min-width: 250px;
  min-height: 50px;
  margin-left: 90px;
  border-color: #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}
.text-cover {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.line {
  display: block;
  font-size: 100px;
  letter-spacing: 30px;
}
.setting_text {
  z-index: 1;
}
 .setting_text_inf { 
  z-index: 1;
  word-spacing: 18px;
 }

.left {
  width: 286px;
  text-align: left;
}
.center {
  margin-top: 18px;
  letter-spacing: 30px;
  text-align: center;
}
.right {
  margin-top: 16px;
  text-align: right;
}

h2 {
  width: 121px;
  margin-top: 0px;
  margin-bottom: 27px;
  font-size: 40px;
  font-style: bold;
  text-transform: uppercase;
}
.lost-main {
  width: 1050px;
  margin-left: 5px;
}
.lots p {
  margin-right: 35px;
  margin-bottom: 48px;
  margin-left: 40px;
  font-size: 20px;
}
h3 {
  margin-top: 48px;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}
.few-biggest {
  display: inline-block; 
  margin-top: 30px;
  margin-left: 65px;
  border-bottom: 1px solid rgb(0, 0, 0); 
  padding-bottom: 1px;
  font-size: 20px; 
}
.about { 
  display: flex;
  width: 1052px;
  margin-top: 118px;
  margin-left: 24px;
}
.about-auction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 693px;
  margin-top: 135px;
}
.circle {
  width:  240px;
  height: 240px;
  margin-top: 35px;
  margin-right: 72px;
  margin-left: 47px;
  border-radius: 50%;
  padding: 0;
  background-color: black;
}
.invis { 
  width:  148px;
  margin-top: 64px;
  margin-right: 45.52px;
  margin-left: 46.48px;
}
.heading-about-auction {
  width: 291px;
}
.text-margin {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  margin-top: 74px;
  padding-bottom: 0;
  font-size: 20px;
  max-width: 690px;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 180px;
  padding: 0;
}
.menu-bottom {
  align-items: center;
  max-width: 240px;
  margin-bottom: 82px;
  font-size: 18px;
  text-align: center;
  list-style-type: none;
  margin-right: 15px;
}
.links-images {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-right: 50px;
}
.links-images img {
  width: 48px;
}
.address-bottom {
  margin: 0;
  margin-bottom: 2px;
  margin-left: 50px;
}
.decoration{
  text-decoration: none;
}
.lots {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  max-width: 1052px;
  margin-left: 25px;
}
.lots li {
  padding: 0;
  margin: 0;
}
.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 334px;
  min-height: 596px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.text-cards {
  z-index: 1;
  color: #fff;
}
.text_heading_cards {
  z-index: 1;
  color: #fff;
}
.fon__film {
  background-image: url(../images/card-lot-01.jpg);
}
.fon__book {
  background-image: url(../images/card-lot-02.jpg);
}
.fon__picture {
  background-image: url(../images/card-lot-03.jpg);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, .6);
}
.lots a {
  text-decoration: none;
}
.headin_lots {
  margin-top: 10px;
  margin-left: 65px;
}


.without_decoration {
  list-style-type: none;
}

